<div class="col-xl-4 col-lg-4 col-md-12">
  <div class="d-grid">
    {{! <button class="btn btn-primary" type="submit">Registrar</button> }}
    <form action="/events/{{event.id}}/buyticket" method="post">
      <button class="btn btn-primary" type="submit">Take your
        ticket!!!!!!!oneoneone</button>
    </form>
  </div>
</div>

