

  <!-- Footer -->
  <footer
          class="text-center text-lg-start text-white"
          style="background-color: #1e0a3c"
          >
    <!-- Grid container -->
    <div class="container p-4 pb-0">
      <!-- Section: Links -->
      <section class="">
        <!--Grid row-->
        <div class="row">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
            <h6 class="mb-4 font-weight-bold">
              Usar Eventbrite
            </h6>
            <p>
              <a href="">Cómo funciona</a>
            </p>
            <p>
              <a href="">Precios</a>
            </p>
            <p>
              <a href="">Pautas de la Comunidad</a>
            </p>
          </div>
          <!-- Grid column -->

          <hr class="w-100 clearfix d-md-none" />

          <!-- Grid column -->
          <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
            <h6 class=" mb-4 font-weight-bold">Planificar eventos</h6>
            <p>
              <a href="">Software de gestión de eventos </a>
            </p>
            <p>
              <a href="">Vender entradas online</a>
            </p>
            <p>
              <a href="">Gestión de eventos online</a>
            </p>
            <p>
              <a href="">Organización de eventos profesionales</a>
            </p>
            <p>
              <a href="">Gestión de eventos con asientos reservados</a>
            </p>
            <p>
              <a href="">Organización de eventos benéficos</a>
            </p>
            <p>
              <a href="">Organización de eventos deportivos</a>
            </p>
            <p>
              <a href="">Organización de obras de teatro</a>
            </p>
            <p>
              <a href="">Organización de conferencias</a>
            </p>
            <p>
              <a href="">Organización conciertos</a>
            </p>
          </div>
          <!-- Grid column -->

          <hr class="w-100 clearfix d-md-none" />

          <!-- Grid column -->
          <div class="col-md-3 col-lg-3col-xl-3 mx-auto mt-3">
            <h6 class=" mb-4 font-weight-bold">
              Buscar eventos
            </h6>
            <p>
              <a href="">Descubrir eventos cerca de ti</a>
            </p>
            <p>
              <a href="">Descarga la aplicación de Eventbrite</a>
            </p>
          </div>

          <!-- Grid column -->
          <hr class="w-100 clearfix d-md-none" />

          <!-- Grid column -->
          <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
            <h6 class=" mb-4 font-weight-bold">Contacta con nosotros</h6>
            <p>
              <a href="">Informar de este evento </a>
            </p>
            <p>
              <a href="">Centro de ayuda</a>
            </p>
            <p>
              <a href="">Términos</a>
            </p>
            <p>
              <a href="">Privacidad</a>
            </p>
            <p>
              <a href="">Accesibilidad</a>
            </p>
            <p>
              <a href="">Directrices de la comunidad</a>
            </p>
          </div>
          <!-- Grid column -->
        </div>
        <!--Grid row-->
      </section>
      <!-- Section: Links -->

      <hr class="my-3">

      <!-- Section: Copyright -->
      <section class="p-3 pt-0">
        <div class="row d-flex align-items-center">
          <!-- Grid column -->
          <div class="col-md-7 col-lg-8 text-center text-md-start">
            <!-- Copyright -->
            
            <div class="p-3 copyright-text">
            
              © 2022 Almudena Vigara Vera / Eventbrite - Clone
            </div>
            <!-- Copyright -->
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-5 col-lg-4 ml-lg-0 text-center text-md-end">
           

            <!-- Instagram -->
            <a
               class="btn btn-outline-light btn-floating m-1"
               role="button"
               ><i class="fa fa-github"></i></a>
          </div>
          <!-- Grid column -->
        </div>
      </section>
      <!-- Section: Copyright -->
    </div>
    <!-- Grid container -->
  </footer>
  <!-- Footer -->
</div>
