<section class="header">
    <div class="container">
        <div class="header-main-title">
            <h1 class="header-title">
                <div class="header-title-top">Haz lo que</div>
                <div class="header-title-bottom">te apasiona</div>
            </h1>
        </div>
        <div class="header-photo-bg">
             <img src="https://cdn.evbstatic.com/s3-build/perm_001/e02b88/django/images/homefeed/music-campaing-1-480-mobile.jpg" alt="">

        </div>
    </div>

</section>