<nav class="navbar ">
  <div class="nav-bar">
    <a href="/events"><img class = "logo-nav" src="/img/eventbrite_logo.png" alt="Eventbrite Logo"></a>
    
    <div class="nav-menu">
        <a href="/events/new" class="create">Crea un evento</a>
        <a href="" class="register">Iniciar sesión</a>
        <a href="/register" class="register" >Registrarse</a>

    </div>
        
  </div>
</nav>