@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700&display=swap');


body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif !important;
    font-size: 14px;
}
h1, h2, h3, h4, h5, h6{
    font-weight: 700 !important;
}

p{
    font-size: 14px ;
}

/* nav-bar */
.navbar{
    padding: 0 !important;
}
.navbar .nav-bar{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 72px;
    
}

.logo-nav{
    /* margin-left: 20px; */
    padding-left: 20px; 
    width: 158px; 
    /* width: 200px; */
    margin-top: 20px;
    /* margin-bottom: 20px;    */
   /* justify-content: center; */  
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    /* margin-right: 20px; 
    padding-right: 20px; */
    /* margin-right: 20px; */
}

.nav-menu a{
    text-decoration: none;
    font-size: 12px;
    /* margin: 10px 20px; */
    /* margin-right: 50px; */
    padding: 30px 30px;
}

.nav-menu a:hover{
    background-color: #f7f6fa;
    /* margin-right: 50px; */
    padding: 30px 30px;
}
.nav-menu{
    font-weight: 700;
}
.nav-menu .register{
    color:#4c4a60;
    
}

/* menu nav-bar dropdown */
.dropdown{
    margin-top: 25px;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fefefe;
  
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right:0;
  }
  
  .dropdown-content a {
    /* float: none; */
    color: #a1a4b0;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    width: 200px;
  }
  
  .dropdown-content a:hover {
    background-color: #f8f7fa;
    color: #4c4a61;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }


/* register&login*/


.logo-nav-register{
    width: 150px;
    margin-bottom: 30px;
}
input.register{
    padding: 10px;
    border-radius: 3px;
    border-color: #dbdae3;

}
::placeholder {
    font-size: 10px;
    padding: 0; 
  }

  .btn-primary{
    background-color: #d1410c !important;
    border-color: #d1410c !important;
    padding: 10px !important;
    border-radius: 3px !important;
    margin-top: 10px;
  }
  .btn-primary:hover{
    background-color: #ee5435 !important;
  }
  .btn-primary.delete{
    width: 350px;
    margin: 20px 0;
  }
  
  .links-btn{
    text-decoration: none;
    color: #3d64ff;
    font-size: 14px;
    width: 100px;
  }
  .links-btn:hover{
    text-decoration: underline;
    color: #3d64ff
    
  }
 
  img.img-register{
    object-fit: cover;
    width: 100%;
    height: 600px;

  }
 
 

/* header main page - list.hbs*/

  .header .container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    width: 100%;
    /* margin-left: 50px; */
    /* padding: 100px; */
  }

  .header-main-title h1{
      display: flex;
      flex-direction: column;
      width: 100%;
      

  }

.header-title-top{
    font-size: 36px;
    padding-bottom: 4px;
    color:#f05537;
    font-weight: 700;
}
.header-title-bottom{
    font-size: 60px;
    color: black;
    font-weight: bold;
}
.header-photo-bg img {
   /* height: auto;
   width: 120%; */
   /* margin: auto 50px; */
   width: 600px;
   height:350px;
   /* margin-right: 35px; */
  
}
/*Wrapper list.hbs*/
.wrapper{
    padding-top:50px;
}
.wrapper .nav-home li{
    display: inline-block;
    padding: 20px 50px;
    
  
}

.wrapper .nav-home button{
    border: none;
    background: none;
    color: #6f7287;
    border-bottom: 2px solid white;
}
.wrapper .nav-home button:hover{
    color: black;
    padding-bottom: 10px;
    border-bottom: 2px solid black;
}
.wrapper .nav-home button:focus{
    color: black;
    padding-bottom: 10px;
    border-bottom: 2px solid black;
}
.wrapper .header{
    width: 100%;
    font-family: 'Montserrat';
    font-weight: 700;
    padding-bottom: 20px ;
    display: flex;
    /* justify-content: space-between; */
    flex-wrap: wrap;
}

.cards-wrap{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
}

.cards-wrap .card-item{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; 
    width: 280px; 
}

.img-event{
    width: 280px; 
    height: 140px;  
}

.cards-wrap .card-inner{
    background: white;
    border-radius: 5px;
    margin-bottom: 30px;
    min-width: 225px;
    min-height: 315px;
    width: 100%;
    margin-bottom: 35px;
}
.cards-wrap .card-inner{ 
    box-shadow: 0 4px 16px 8px rgb(40 44 53 / 5%);
}
.cards-wrap .card-inner:hover{ 
   
    box-shadow: 0 4px 16px 8px rgb(40 44 53 / 10%);
}

.cards-wrap .card-inner .card-info{
    padding: 0 20px 20px;  
}

.card-inner .card-title a{
    text-decoration: none;
    color: black;
    font-size: 18px;
    /* white-space: nowrap; */

}

.card-inner .card-date{
    color: #d1410c;
    font-weight: 700;
    font-size: 14px;
    
}

.card-inner .card-location{
    color: #6f7287;
}
.card-inner .card-price{
    color: #6f7287;
    font-size: 14px;
}

/* Event Form - new.hbs*/
.btn-new-event{
    /* width: 550px; */
    
}

.form-new-event h2{
    font-size: 30px;
    
}
.form-new-event i{
    color: #dbdae3;  
}
.date-time{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;  
}    
.date-time-element{
  width: 45%;
}

/* .svg-new-events{
    margin: 0;
} */

/* Event detail - detail.hbs */


.header-info{
    background-color: #ecebeb;
}
.container-fluid{
    margin-bottom: 60px;  
}

.header-img{
    width: 100%;  
}
.bar-register{
    height: 70px;
    
}

.link-btn{
    background-color: #d1410c;
    color: white; 
    display: flex;
    /* align-items: center; */
    justify-content: center; 
    /* text-decoration: none; */
    padding:10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
  }

svg{
    width:24px;
    margin: 20px;
    color: #39364F;  
}
svg:hover{
    width:24px;
    margin: 20px;
    color: #39364F;  
    background-color: #ecebeb;
    background-size: 1em;   
}

.info-event{
    padding: 40px 60px 60px 60px; 
}
.info-event-summary{
    display:inline;
}
.start-end-event{
    text-align: center;
}
.start-end-event p{
    margin: 0;
}
.location-event{
    text-align: center;
}
.google.map{
    /* width: 100%;
    height: 230px; */
}

/* footer */

footer h6{
    color:#a9a8b3;
    font-size: 14px;
}
footer p{
    color: #dbdae3;
    font-size: 12px;
}
footer a{
    text-decoration: none;
    color: #dbdae3;
}footer a:hover{
    text-decoration:underline;
    color: #dbdae3;
}
.copyright-text{
    font-size: 10px;
}


@media screen and (min-width: 1272px){
    .cards-wrap .card-item{
        width: 22%;
    }
    .img-event{
        width: 100%;
        height: 140px;
    }
}
@media screen and (min-width: 1200px){
    .cards-wrap .card-item{
        width: 22%;
    }
    .img-event{
        width: 100%;
        height: 140px;
    }
}
@media screen and (max-width: 792px){
    .cards-wrap .card-item{
        width: 30%;
    }
    .img-event{
        width: 100%;
        height: 106px;
    }
}
@media screen and (max-width: 791px){
    .cards-wrap .card-item{
        /* width: 364px;
        height: 182px; */
        width: 48%;
    }
    .img-event{
        width: 100%;
        height: 180px;
    }
}

@media screen and (max-width: 660px){
    .cards-wrap .card-item {
        width: 100%;
    }
    .img-event{
        width: 100%;
        height: 245px;
    }
}


